*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 1fr;
    .section1{
        background-color:#B2AAC1;
        height: 100%;
        padding:3%;
        
        .border1{
            height:100%;
            padding:1%;
            background-color: #B2A7C0;
            border:2px rgb(255, 255, 240) solid;
            border-radius: 15px;
        
            .border2{
                height:100%;
                padding:2%;
                background-color: #DCDBDD;
                border-radius:15px;
            
            
                .board{
                    background-color:#DBDADB;
                    width: 100%;
                    height: 100%;
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    .col{
                        border: 2px solid;
                    }
                }
            }
        }
    }
    .section2{
        background-color:#C7E9EE;
        height: 100%;
        display:grid;
        grid-template-rows: 1fr 3fr 2fr;

        .color{
          border-bottom: black solid;
          display: grid;
          grid-template-columns: 1fr 2fr;
          padding:15px;
          
            .colors{
                height: 100%;
                width: 90%;
                display: flex;
                justify-content: center;
                align-items: center;
                .colors-box{
                    height: 50%;
                    width: 100%;
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
                    gap: 5px;
                    
                    .color1{
                        background-color: #B2AAC1;
                        
                    }
                    .color2{
                        background-color: #B2AAC1;
                        
                    }
                    .color3{
                        background-color: #B2AAC1;
                        
                    }
                    .color4{
                        background-color: #B2AAC1;
                        
                    }
                    .color5{
                        background-color: #B2AAC1;
                        
                    }
                    .color6{
                        background-color: #B2AAC1;
                        
                    }
                    .color7{
                        background-color: #B2AAC1;
                        
                    }
                    .color8{
                        background-color: #B2AAC1;
                    }
                    .color9{
                        background-color: #B2AAC1;
                        
                    }
                    .color10{
                        background-color: #B2AAC1;
                        
                    }
                }
                
            }  
        }
        .features{
            padding: 10%;
            border-bottom: black solid;

            .feature{
                display: flex;
                align-items: center;
                font-size: 2vw;
                gap: 15px;
                margin-bottom: 10px;
                color: #174579;
                font-weight: 800;
                svg{
                    width: 3vw;
                    stroke-width: 2;
                }
            }
        }
        
    }
}