:root {
    --color1: #B2AAC1;
    --color2: #DCDBDD;
    --color3: #C7E9EE;
    --color4: #174579;
}

*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 1fr;
    .section1{
        background-color: var(--color1);
        height: 100%;
        padding:3%;
        
        .border1{
            height:100%;
            padding:1%;
            background-color: var(--color1);
            border:2px var(--color2) solid;
            border-radius: 15px;
        
            .border2{
                height:100%;
                padding:2%;
                background-color: var(--color2);
                border-radius:15px;
                overflow:scroll;
                
            
            
                .board{
                    background-color: var(--color2);
                    width: 100%;
                    height: 1000%;
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    position: relative;
                    .sticky-note{
                        position: absolute;
                        
                        
                    }
                    .col{
                        border: 2px solid;
                    }
                }
            }
        }
    }
    .section2{
        background-color: var(--color3);
        height: 100%;
        display:grid;
        grid-template-rows: 1fr 3fr 2fr;

        .color{
          border-bottom: black solid;
          display: grid;
          grid-template-columns: 1fr 2fr;
          padding:15px;
            
            .colors{
                height: 100%;
                width: 90%;
                display: flex;
                justify-content: center;
                align-items: center;
                .colors-box{
                    height: 50%;
                    width: 100%;
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
                    gap: 5px;
                    
                    .color1{
                        background-color: #B2AAC1;
                        
                    }
                    .color2{
                        background-color: #B2AAC1;
                        
                    }
                    .color3{
                        background-color: #B2AAC1;
                        
                    }
                    .color4{
                        background-color: #B2AAC1;
                        
                    }
                    .color5{
                        background-color: #B2AAC1;
                        
                    }
                    .color6{
                        background-color: #B2AAC1;
                        
                    }
                    .color7{
                        background-color: #B2AAC1;
                        
                    }
                    .color8{
                        background-color: #B2AAC1;
                    }
                    .color9{
                        background-color: #B2AAC1;
                        
                    }
                    .color10{
                        background-color: #B2AAC1;
                        
                    }
                }
                
            }  
        }
        .features{
            padding: 10%;
            border-bottom: black solid;

            .feature{
                cursor: pointer;
                display: flex;
                align-items: center;
                font-size: 2vw;
                gap: 15px;
                margin-bottom: 10px;
                color: var(--color4);
                font-weight: 800;
                svg{
                    width: 3vw;
                    stroke-width: 2;
                }
            }
        }
        
        .working{
            position: relative; /* allow absolute positioning of sticky notes */
            height: 17.3em;       /* fixed height so it doesn't expand */
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center; /* center sticky notes inside working */
            overflow: hidden;
            
            
        }
    }
}

.sticky-note {
    width: 15em;
    height: 15em; // fixed height
    padding: 1em; // inner padding
    box-sizing: border-box; // include padding in width/height
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    overflow: hidden;
    
}

    .text-sticky-note {
        background-color: yellowgreen;

        input {
            background: transparent;
            border: none;
            opacity: 0;
        }

        p {
            flex: 1; // take available space
            width: 100%;
            overflow-y: auto; // scroll if text overflows
            word-wrap: break-word;
            text-align: center;
        }
}

    .audio-sticky-note {
        background-color: rgb(63, 175, 97);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        .upload-btn {
            background-color: #174579;
            color: white;
            border: none;
            padding: 0.6em 1.2em;
            border-radius: 6px;
            cursor: pointer;
                font-size: 0.9em;
                margin-bottom: 0.5em;
                transition: 0.2s ease;

            &:hover {
                opacity: 0.85;
                }
        }

        .audio-container {
            flex: 1;
            width: 100%;
            overflow-y: auto;

            audio {
                width: 100%;
                outline: none;
            }
        }
}

    .video-sticky-note {
        background-color: lightcoral;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        .upload-video-btn {
            background-color: #174579;  // same as audio
            color: white;
            border: none;
            padding: 0.6em 1.2em;
            border-radius: 6px;
            cursor: pointer;
                font-size: 0.9em;
                margin-bottom: 1em;
                transition: 0.2s ease;

            &:hover {
            opacity: 0.85;
            }
        }

        video {
            flex: 1; // fill remaining space
            width: 100%;
            border-radius: 5px;
            margin-top: 0.5em;
            overflow: hidden;
        }
    }


@media (max-width:800px) {
    main{
        grid-template-columns: 1fr;
        grid-template-rows: 60vh 80vh;

        .section2{
            grid-template-rows: 1fr 2fr 2fr;
            .features{
                .feature{
                    font-size: 5vw;
                    svg{
                        width: 6vw;
                    }
                }
            }
        }
    }
    
}
