*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 1fr;
    .section1{
        background-color:#B2AAC1;
        height: 100%;
        padding:3%;
        
        .border1{
            height:100%;
            padding:1%;
            background-color: #B2A7C0;
            border:2px rgb(255, 255, 240) solid;
            border-radius: 15px;
        
            .border2{
                height:100%;
                padding:2%;
                background-color: #DCDBDD;
                border-radius:15px;
            
            
                .board{
                    background-color:#DBDADB;
                    width: 100%;
                    height: 100%;
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    .col{
                        border: 2px solid;
                    }
                }
            }
        }
    }
    .section2{
        background-color:#C7E9EE;
        height: 100%;
    }
}