:root {
    --color1: #B2AAC1;
    --color2: #DCDBDD;
    --color3: #C7E9EE;
    --color4: #174579;
}

*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 1fr;
    .section1{
        background-color: var(--color1);
        height: 100%;
        padding:3%;
        
        .border1{
            height:100%;
            padding:1%;
            background-color: var(--color1);
            border:2px var(--color2) solid;
            border-radius: 15px;
        
            .border2{
                height:100%;
                padding:2%;
                background-color: var(--color2);
                border-radius:15px;
            
            
                .board{
                    background-color: var(--color2);
                    width: 100%;
                    height: 100%;
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    .col{
                        border: 2px solid;
                    }
                }
            }
        }
    }
    .section2{
        background-color: var(--color3);
        height: 100%;
        display:grid;
        grid-template-rows: 1fr 3fr 2fr;

        .color{
          border-bottom: black solid;
          display: grid;
          grid-template-columns: 1fr 2fr;
          padding:15px;
          
            .colors{
                height: 100%;
                width: 90%;
                display: flex;
                justify-content: center;
                align-items: center;
                .colors-box{
                    height: 50%;
                    width: 100%;
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
                    gap: 5px;
                    
                    .color1{
                        background-color: #B2AAC1;
                        
                    }
                    .color2{
                        background-color: #B2AAC1;
                        
                    }
                    .color3{
                        background-color: #B2AAC1;
                        
                    }
                    .color4{
                        background-color: #B2AAC1;
                        
                    }
                    .color5{
                        background-color: #B2AAC1;
                        
                    }
                    .color6{
                        background-color: #B2AAC1;
                        
                    }
                    .color7{
                        background-color: #B2AAC1;
                        
                    }
                    .color8{
                        background-color: #B2AAC1;
                    }
                    .color9{
                        background-color: #B2AAC1;
                        
                    }
                    .color10{
                        background-color: #B2AAC1;
                        
                    }
                }
                
            }  
        }
        .features{
            padding: 10%;
            border-bottom: black solid;

            .feature{
                cursor: pointer;
                display: flex;
                align-items: center;
                font-size: 2vw;
                gap: 15px;
                margin-bottom: 10px;
                color: var(--color4);
                font-weight: 800;
                svg{
                    width: 3vw;
                    stroke-width: 2;
                }
            }
        }
        
        .working{
            padding: 10%;
            display: flex;
            justify-content: center;

            
        }
    }
}

.text-sticky-note{
    width: 15em;
    background-color: yellowgreen;
    padding: 10%;
    text-align: center;

    input{
        background: transparent;
        border: none;
        opacity: 0;
    }
    p{
        height: 100%;
        overflow-wrap: break-word;
        overflow: scroll;
        scrollbar-width: none;
    }
}